<% if @any_patent %>
  <p>Buen día estimados. Se remitelas patentes duplicadas en archivo adjunto</p>
<% else %>
  <p>Buen día estimados. Al momento no se han detectado patentes duplicadas</p>
<% end %>
<p>Saludos.</p>
<p style="margin-top: 100px">
  <b><i>Sistema de integración Iclient - Company.</i></b>
</p>
